<html
	<head>
		<title> Library App <%= title %> </title> 
	</head> 
	 <%- include('./partials/script'); -%> 
	 <%- include('./partials/navbar'); -%> 
	 <%- include('./partials/side_navbar'); -%>
	 <hr> 
	 <body class ="bg-white"> 
	 <div class = "container">
	 	  <div class = "row">
	 	    <div class = "col-md-9 offset-md-2">
	 	        <h3 class = "text-primary"> <%= title %> </h3>
	 	        <ul class = "list-group">
	 	        <% bookinstance_list.forEach(function(bookinstance){ %> 
	 	            <li class = "list-group-item"> <a href = "<%= bookinstance.book.url %>"> 
	 	               <%= bookinstance.book.title %></a>
	 	               <% if(bookinstance.status == 'Available'){ %>
	 	               		<span class = "text-success"> <%= bookinstance.status %></span>
	 	               <% } else if(bookinstance.status =='Loaned'){ %>  
   							<span class = "text-warning "> <%= bookinstance.status %>(<%= bookinstance.due_back %>)</span>
   					   <% } else if(bookinstance.status =='Maintenance'){ %>  
   							<span class = "text-danger"> <%= bookinstance.status %>(<%= bookinstance.due_back %>)</span>
					   <% } %>
	 	                   
	 	                    
	 	       <% }); %> 
	 		</div>
	 	 </div>
	 </div> 
	 
	 
	 </body> 
</html> 
